* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Playfair Display';
  background: #f3f1ea;
  color: #060406;
  text-align: center;
  min-width: 375px;
  max-width: 480px;
  margin: 0 auto;
}
h1 {
  font-family: 'Birthstone Bounce', sans-serif;
  font-size: 50px;
  margin: 10px auto;
}
h3 {
  font-family: 'Birthstone Bounce', sans-serif;
  font-size: 24px;
}
p {
  width: 80%;
  font-size: 18px;
  margin: 10px auto;
}
audio {
  /*display: none;*/
}
.icon {
  width: auto;
  height: 64px;
}
.button {
  width: 180px;
  height: 40px;
  margin: 10px auto;
  line-height: 40px;
  border: solid 2px #a27745;
  background-color: #f3f1ea;
  color: #a27745;
  border-radius: 15px;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 2px;
}
.button:hover {
  border: solid 2px #f3f1ea;
  background-color: #a27745;
  color: #f3f1ea
}
.main-container {
  max-width: 480px;
  margin: 0 auto;
  display: inline-block;

  margin-top: 100%;
  margin-bottom: 300px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

/***   Banner   ***/
.banner {
  background-image: url("../img/header.png");
  background-color: #000000;
  width: 100%;
  height: 480px;
  background-size: cover;

  top: 0;
  position: fixed;
  z-index: -1;
}

.content
{
  background: #f3f1ea;
  position: relative;
  z-index: 1;
}

/***   Bienvenida   ***/
.welcome audio {
  margin: 10px auto;
}
.welcome .fecha {
  width: 100%;
  height: auto;
  margin: 10px auto;
}
.welcome .fecha div {
  display: inline-block;
}
.welcome .fecha div p {
  display: inline-block;
  margin: 2px 0px;
}
.welcome .fecha .dia-semana {
  width: 100px;
  border-top: 2px solid #060406;
  border-bottom: 2px solid #060406;
  text-align: right;
  vertical-align: top;
}
.welcome .fecha .dia-año .dia {
  width: 40px;
  font-size: 35px;
  line-height: 35px;
  margin: -5px 0px 0px 0px;
  font-weight: bold;
  vertical-align: center;
}
.welcome .fecha .dia-año .año {
  width: 40px;
  font-size: 14px;
  margin: 0px;
  font-weight: bold;
  vertical-align: center;
}
.welcome .fecha .mes {
  width: 100px;
  border-top: 2px solid #060406;
  border-bottom: 2px solid #060406;
  text-align: left;
  vertical-align: top;
}
.welcome .padres {
  margin: 0 auto;
}
.welcome .padres div {
  margin: 20px auto;
}
.welcome .padres h2 {
 margin: 0 auto;
 font-size: 20px;
}
.welcome .padres h3 {
  margin: 0 auto;
  font-size: 24px;
}

/***   Ubicación   ***/
.local {
  padding: 0px 0px 40px 0px;
}
.local .hora {
  font-size: 40px;
  margin: -10px auto 10px auto;
}

/***   Código de vestimenta   ***/
.dresscode {
  background: #000000;
  padding: 20px 0px;
  color: #f3f1ea;
}
.dresscode img {
  width: 200px;
  height: auto;
}

/***   Imagen   ***/
.image {
  background-image: url("../img/center.png");
  background-color: #000000;
  width: 100%;
  height: 256px;
  background-size: contain;
}

/***   Mesa de regalos   ***/
.gift {
  padding: 40px 0px 0px 0px;
}
.gift .liverpool {
  width: 250px;
  height: auto;
}
.gift .number-gifttable {
  font-size: 30px;
  letter-spacing: 3px;
  color: #a27745;
  margin: 0 auto;
}

/***   Confirmación de asistencia   ***/
.assistance {
  padding: 40px 0px 0px 0px;
}
.assistance input {
  width: 90%;
  height: 26px;
  margin: 5px auto;
  padding: 5px;
  color: #757575;
}
.assistance select {
  width: 93%;
  height:40px;
  margin: 5px auto;
  padding: 5px;
  color: #757575;
}
.assistance textarea {
  width: 90%;
  height:148px;
  margin: 5px auto;
  padding: 5px;
  color: #757575;
}
.assistance #buttonSubmit {
  width: 90%;
  height: 40px;
  background-color: #a27745;
  color: #f3f1ea;
  border: none;
  border-radius: 15px;
}

/***   Cuenta regresiva   ***/
.countdown {
  padding: 20px 0px 40px 0px;
}
.count {
  display: inline-block;
}
.bubble {
  border-radius: 50%;
  background-color: #a27745;
  color: #f3f1ea;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 25px;
  margin: 0px 20px 0px 20px;
  font-family: sans serif;
}
.count .text {
  margin: 5px auto;
  font-size: 12px;
}

/***   Pie de página   ***/
.goodbye {
  background-image: url("../img/footer.png");
  background-color: #000000;
  width: 100%;
  height: 260px;
  background-size: cover;

  bottom: 0px;
  position: fixed;
  z-index: -1;
}

header,
footer,
#scroll-animate-main {
  -webkit-transition-property: all;
     -moz-transition-property: all;
      transition-property: all;

  -webkit-transition-duration: 0.4s;
     -moz-transition-duration: 0.4s;
      transition-duration: 0.4s;

  -webkit-transition-timing-function: cubic-bezier(0, 0, 0, 1);
     -moz-transition-timing-function: cubic-bezier(0, 0, 0, 1);
      transition-timing-function: cubic-bezier(0, 0, 0, 1);
}
