body
{
  background: #1d262d;
  color: #fff;
  font-family: Helvetica;
  min-width: 480px;
}
.title
{
  text-align: center;
}
.intro
{
  text-align: center;
}
.datos
{
  display: inline-block;
  width: 45%;
  height: auto;
  vertical-align: top;
  text-align: center;
}
.datos input
{
  border: 1px solid #dddddc;
  border-radius: 5px;
  color: #273b47;
  font-size: 13px;
  padding: .8em;
  outline: 0;
  margin: 0px 10px;
}
.datos div
{
  margin: 15px 0px;
}
.datos div .imagen
{
  display: inline-block;
  margin: 0;
  width: 60px;
  height: auto;
  text-align: center;
}
.datos div .imagen img
{
  width: auto;
  height: 50px;
  vertical-align: top;
}
.datos div a
{
  display: inline-block;
  background-color: #7fc719;
  color: #fff;
  vertical-align: top;
  height: auto;
  width: 100px;
  cursor: pointer;
  border-radius: 5px;
  margin: 6px 0 6px 10px;
  box-shadow: inset 0 -0.2em rgba(0,0,0,.3);
  padding: 10px 0px;
  text-decoration: none;
  text-align: center;
}
.resultado
{
  display: inline-block;
  width: 45%;
  height: auto;
  vertical-align: top;
  text-align: center;
}
.resultado p
{
  font-size: 50px;
}
